header {
    background-color: grey;
    height: 100px;
    width: 100%;
    margin: 0;
    text-align: center;
}

h1 {
    color: azure;
    display: inline-block;
}

#input {
    width: 100px;
    display: inline;

}
