header {
    background-color: grey;
    height: 100px;
    width: 100%;
    margin: 0;
    text-align: center;
}

h1 {
    color: azure;
    display: inline-block;
}

h2 {
    margin-top: 35px;
}

#input {
    width: 108px;
    height: 23px;
    display: inline;
    border: 2px solid black;
    margin: 5px;
    padding-left: 3px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }

  th, td {
    height: 35px;
    width: 115px;
    padding-left: 5px;
  }

  button {
    width: 70px;
    height: 25px;
    border-radius: 5px;

  }